<div class="container">
  <header>
    <div class="image">
      <%= $.gravatarHtml(gravatar_email) %>
    </div>
    <div class="author"><%= author %></div>
    <div class="posted_at">
      <%= I18n.l('time.formats.posted', created_at) %>
    </div>
  </header>
  <div class="content">
    <%= formatted_content %>
  </div>
  <footer>
    <span class="reply">
      <a href="#" class="add-comment" data-id="<%= id %>">
        <%= I18n.t('comments.reply') %>
      </a>
    </span>
  </footer>
</div>
<% if(!answer_to_id) { %>
  <div class="answers"></div>
<% } %>
