<form id="new-comment" name="comment">
<<<<<<< HEAD
  <table>
    <tr>
      <th>
        <label for="new-comment-author"><%= I18n.t('comments.author') %></label>
      </th>
      <td>
        <input type="text" name="author" id="new-comment-name" value="<%= author %>" >
      </td>
    </tr>
    <tr>
      <th>
        <label for="new-comment-gravatar_email"><%= I18n.t('comments.email') %></label>
      </th>
      <td>
        <input type="text" name="gravatar_email" id="new-comment-gravatar_email" value="<%= gravatar_email %>" >
      </td>
    </tr>
    <tr>
      <th>
        <label for="new-comment-author"><%= I18n.t('comments.comment') %></label>
      </th>
      <td>
        <textarea name="content" id="new-comment-content" cols="60" rows="5"><%= content %></textarea>
      </td>
    </tr>
  </table>

  <div class="actions">
    <input type="submit" value="<%= I18n.t('comments.post') %>" class="post_button" />
  </div>
</form>
