<form id="new-comment" name="comment">
  <div class="field">
    <label for="new-comment-name"><%= I18n.t('comments.author') %></label>
    <input type="text" name="name" id="new-comment-name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="new-comment-gravatar_name"><%= I18n.t('comments.email') %></label>
    <input type="text" name="gravatar_name" id="new-comment-gravatar_name" value="<%= gravatar_name %>" >
  </div>

  <div class="field">
    <textarea name="content" id="new-comment-content" cols="30" rows="10"><%= content %></textarea>
  </div>

  <div class="actions">
    <input type="submit" value="<%= I18n.t('comments.post') %>" class="button-style1" />
  </div>

</form>
