<%= nested_form_for(@post, :html => { :id => "confirm-form" }) do |f| %>
  <% ['title', 'main_picture', 'content', 'friendly_id'].each do |v| %>
  <%= f.hidden_field v.to_sym, :value => @post.send(v) %>
  <% end %>
  <%= f.fields_for :tags do |t| %>
  <%= t.hidden_field :name %>
  <% end %>
  <div class="actions">
    <%= f.label :published, 'Publish?' %>
    <%= f.check_box :published %>
    <br>

    <%= link_to t('common.back'), '#', :class => 'button-style2', :id => "back-button" %>
    <%= f.submit t('posts.save'), :class => 'button-style2' %>
  </div>
<% end %>

<script>
$(function() {
  $('#back-button').click(function(e) {
    e.preventDefault();
    var $form = $("#confirm-form");
    $form.find('input[name="_method"]').remove();
    $form.attr('action', "<%= @back_page %>");
    $form.submit();
  });
});
</script>
