<%= nested_form_for(@post, :html => { :multipart => true }) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= f.label :title, t('posts.title') %><br />
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :main_picture, t('posts.main_picture') %><br />
  <%= f.text_field :main_picture %>
</div>
<div>
  <%= f.label :friendly_id, t('posts.friendly_id') %><br />
  <%= f.text_field :friendly_id %>
</div>
<div>
  <%= f.label :content, t('posts.content') %><br />
  <%= f.text_area :content, :rows => 30, :cols => 80 %>
</div>
<div>
  <%= f.label :tags, t('posts.tags') %> <br>
  <%= f.fields_for :tags %>
  <p><%= f.link_to_add t('posts.add_tag'), :tags %></p>
</div>
<%= render :partial => 'common/locale_buttons', :locals => { :f => f } %>

<%= render 'common/file_upload' %>

<div class="actions">
  <%= link_to t('common.back'), @post, :class => 'button-style2' %>
  <%= f.submit t('posts.save'), :class => 'button-style2' %>
</div>
<% end %>
