<%= nested_form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= f.label :title, t('posts.title') %><br />
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :content, t('posts.content') %><br />
  <%= f.text_area :content %>
</div>
<div>
  <%= f.label :tags, t('posts.tags') %> <br>
  <%= f.fields_for :tags %>
  <p><%= f.link_to_add t('posts.add_tag'), :tags %></p>
</div>
<div>
    <span>
      <%= f.label :locale_ja, t('common.japanese'), :class => 'right' %>
    </span>
    <span>
      <%= f.radio_button :locale, 'ja', :checked => I18n.locale == :ja %>
    </span>
    <span>
      <%= f.label :locale_en, t('common.english'), :class => 'right' %>
    </span>
    <span>
      <%= f.radio_button :locale, 'en', :checked => I18n.locale == :en %>
    </span>
</div>
<div class="actions">
  <%= f.submit t('posts.save'), :class => 'button-style2' %>
</div>
<% end %>
