<article class="post">
    <header>
        <div class="date">
            <span>
                <%= l post.created_at, :format => :tiny %>
            </span>
        </div>
        <h2>
            <%= link_to post.title, post %>
            <%= render :partial => 'control', :locals => { :post => post } %>
        </h2>
    </header>
    <div class="list-content excerpt">
        <%= truncate_html markdown(post.content), :length => @content_limit %>
    </div>
    <footer>
        <%= link_to t('posts.continue_reading'), post, :class => "button-style1 icon32 icon32-article" %>
        <!-- <a href="#" class="button-style1 icon32 icon32-comments">
            <%= t 'posts.comments_number', :count => post.comments.count %>
        </a> -->
        <% if not post.tags.empty? %>
        <span class="tags">
            <%= format_tags(post.tags) %>
        </span>
        <% end %>
    </footer>
</article>
