<article class="post">
    <header>
        <h2>
            <%= @post.title %>
            <%= render :partial => 'control', :locals => { :post => @post } %>
        </h2>
        <div class="byline">
            <%= l @post.created_at, :format => :tiny %>
        </div>
        <% if @using_fallback %>
        <div class="missing-fallback">
            <%= t 'posts.locale_not_available' %>
        </div>
        <% end %>
    </header>
    <div class="content">
        <%= markdown @post.content %>
    </div>

    <footer>
        <% if not @post.tags.empty? %>
        <span class="tags">
            <%= format_tags(@post.tags) %>
        </span>
        <% end %>
    </footer>
</article>

