<%= link_to t('picture.add'), '#', :id => "add-file-link" %>
<div id="file-uploader-container">
</div>
<script type="text/template" id="add-file-template">
<div class="file-uploader">
    <fieldset>
        <label for="files-{{id}}-name">
            <%= t 'picture.name' %>
        </label>
        <input id="files-{{id}}-name" type="text" name="files[{{id}}][name]">
        <br>
        <label for="files-{{id}}-files">
            <%= t 'picture.file' %>
        </label>
        <input id="files-{{id}}-files" type="file" name="files[{{id}}][file]">
        <br>
        <label for="files-{{id}}-options">
            <%= t 'picture.options' %>
        </label>
        <input id="files-{{id}}-options" type="text" name="files[{{id}}][options]">
        <%= link_to t('picture.remove'), '#', :class => 'remove-file' %>
    </fieldset>
</div>
</script>
