<div id="header-wrapper">
    <header id="page-header" class="5grid-layout">
        <div class="row">
            <div class="12u">
                <h1>
                    <%= link_to 'tuvistavie', root_path, :class => "mobileUI-site-name" %>
                </h1>
                <nav class="mobileUI-site-nav">
                    <ul>
                        <li>
                            <span>Language</span>
                            <ul>
                                <li>
                                    <%= link_to 'English', get_locale_url_info(@url_info, :en) %>
                                </li>
                                <li>
                                    <%= link_to '日本語', get_locale_url_info(@url_info, :ja) %>
                                </li>
                            </ul>
                        </li>
                        <% if admin_signed_in? %>
                        <li>
                            <%= link_to t('posts.new_long'), new_post_path %>
                        </li>
                        <li>
                            <span><%= t 'common.account' %></span>
                            <ul>
                                <li>
                                    <%= link_to t('user.edit'), edit_admin_path(current_admin) %>
                                </li>
                                <li>
                                    <%= link_to t('sessions.logout'), destroy_admin_session_path, :method => :delete, :class => 'no-dropotron' %>
                                </li>
                            </ul>
                        </li>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
