<!DOCTYPE HTML>

<head>
    <% cache 'headtag' do %>
        <meta charset="utf-8" />

        <meta name="description" content="Blog about programming">
        <meta name="keywords" content="" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
        <%= favicon_link_tag 'favicon.ico' %>
        <title><%= content_for?(:title) ? yield(:title) : "tuvistavie" %></title>

        <%= stylesheet_link_tag "application" %>
        <%= javascript_include_tag "application" %>
    <% end %>

    <%= csrf_meta_tags %>
    <script>
        I18n.locale = "<%= I18n.locale %>";
    </script>
</head>

<body class="right-sidebar">
    <div id="wrapper">
        <%= render 'layouts/header' %>

        <div id="main-wrapper">
            <div class="5grid-layout 5grid">
                <div class="row">
                    <div class="8u mobileUI-main-content">
                        <div id="content">
                            <div class="inner">
                                <%= yield %>
                            </div>
                        </div>
                    </div>
                    <div class="4u">
                        <%= render 'layouts/sidebar' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="voisee-form"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://voisee.tuvistavie.com/voisee-js-sdk.min.js#apiKey=RGsmqo5rtrHUZCmblwRmD6AgJWHtu3BziGA49uG7GHLl9cKToD2EpKA7h5f/6rf0KPc=";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'voisee-jssdk'));</script>
</body>
</html>
