<!DOCTYPE HTML>

<head>
    <meta charset="utf-8" />

    <meta name="description" content="Blog about programming">
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />

    <title><%= content_for?(:title) ? yield(:title) : "tuvistavie's blog" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>

<body class="right-sidebar">
    <div id="wrapper">
        <%= render 'layouts/header' %>

        <div id="main-wrapper">
            <div class="5grid-layout">
                <div class="row">
                    <div class="8u mobileUI-main-content">
                        <div id="content">
                            <div class="inner">
                                <%= yield %>
                            </div>
                        </div>
                    </div>
                    <div class="4u">
                        <%= render 'layouts/sidebar' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
